/** Write your CSS in here **/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #f59e0b; /* orange */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", serif;
}
